node_modules/
dist/

# don't commit RTP resources.  Instead, put new resources into /rtp_overrides so they get copied in
/audio
/fonts
/icon
/img
/movies
/system
/js/rpg_*.js
/js/libs/*.js

#don't check in map files
js/**/*.js.map

#don't check in js artifacts in the typescript directory
ts/**/*.js
ts/**/*.js.map

#don't check in the transpiled test files
test/**/*.js
test/**/*.js.map

#don't check in the coverage report
test/_coverageReport
